/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create
    one more css for each page that will contain the selected used
    on that page only (the ones not reused in other pages).
*/
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("https://img.mlbstatic.com/mlb-images/image/private/t_2x1/t_w1536/mlb/lwqr647koajnx3ruvrqv.jpg");
}

footer {
  position: relative;
  height: 100px;
}

.buscador {
  width: 30rem;
}

.logo {
  width: 12rem;
  height: 4rem;
}

.profile-photo {
  width: 3rem;
  height: 3rem;
}

.card {
  margin: 3rem auto;
  width: 600px;
}

.card-header {
  padding: 0.75rem 15px;
}

.titulo {
  display: inline-block;
}

.btn-link {
  float: right;
  color: gray;
  padding-right: 0px;
}

.card-body {
  padding: 15px;
}

.container {
  display:inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
}

.img_logo {
  filter: drop-shadow(8px 8px 4px #0f3fbb);
}

