.navbar-sections {
  border-bottom: 1px solid rgb(79, 161, 255);
  padding-left: 35%;
}

.contenedor-img-perfil {
  width: 200px;
  height: 200px;
  background-color: rgb(176, 172, 172);
  border-radius: 100%;
}

.contenedor-img-perfil>.img-perfil {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.container-upload {
  margin: 0%;
  padding: 0%;
}

.boton-eliminar {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-color: rgb(245, 9, 9);
  border: none;
  transition: .3s ease all;
  border-radius: 5px;
}

.boton-eliminar:hover {
  background-color: darkred;
}

.boton-subir,
.input-browser {
  margin-top: 5px;
  width: 70px;
  height: 30px;
  background-color: rgb(0, 21, 251);
  border: none;
  border-radius: 5px;
}

.boton-subir:hover {
  background-color: rgb(10, 10, 171);
}

.input-descripcion {
  border: none;
  border-radius: 5px;
}

.photo-profile {
  width: 25rem;
  height: 25rem;
  display: flex;
  left: 10px;
  bottom: 2rem;
  position: relative;
  border: 4px solid rgb(79, 161, 255);
}

.principal-video {
  position: relative;
  left: 2rem;
  border: 3px solid rgb(79, 161, 255);
}

.second-video {
  position: relative;
  left: 4rem;
  bottom: 15rem;
  border: 3px solid rgb(79, 161, 255);
}

.third-video {
  position: relative;
  left: 41.5rem;
  bottom: 13rem;
  border: 3px solid rgb(79, 161, 255);
}

.ficha-perfil {
  width: 400px;
  height: 600px;
  border: 2px solid rgb(79, 161, 255);
  position: relative;
  bottom: 1rem;
  margin-left: 1rem;
  border-radius: 20%;
}

.card-profile {
  position: relative;
  bottom: 1rem;
}

.video {
  border: 3px solid rgb(79, 161, 255);
}

