.navbar-sections {
  border-bottom: 1px solid rgb(79, 161, 255);
  padding-left: 35%;
}

.photo-profile {
  width: 25rem;
  height: 25rem;
  display: flex;
  left: 10px;
  bottom: 2rem;
  position: relative;
  border: 4px solid rgb(79, 161, 255);
}

.principal-video {
  position: relative;
  left: 2rem;
  border: 3px solid rgb(79, 161, 255);
}

.second-video {
  position: relative;
  left: 4rem;
  bottom: 15rem;
  border: 3px solid rgb(79, 161, 255);
}

.third-video {
  position: relative;
  left: 41.5rem;
  bottom: 13rem;
  border: 3px solid rgb(79, 161, 255);
}

.ficha-perfil {
  width: 400px;
  height: 600px;
  border: 2px solid rgb(79, 161, 255);
  position: relative;
  bottom: 1rem;
  margin-left: 1rem;
  border-radius: 20%;
}

.card-profile {
  position: relative;
  bottom: 1rem;
}

.video {
  border: 3px solid rgb(79, 161, 255);
}

