/* signup {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../img/register-fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
} */

/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */

.conteiner {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: rgb(83, 108, 124);
    margin-top: 150px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    margin: 5% auto;

}

input[type="text"],
input[type="password"] {
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 70px;
    text-align: center;
    color: #999;
    font-size: 27px;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: rgb(12, 119, 46);
}

p {
    text-align: center;
    font-size: 15px;
}

.politicas {
    text-align: center;
    font-size: 10px;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}